.helpPage {
  .navLink {
    height: 30px;
    color: var(--link-color);
    background: var(--bg-color);

    &:hover {
      background: var(--bg-color);
    }
  }

  section {
    margin-bottom: 20px;
  }

  .accordion {
    color: var(--text-color);
    margin-bottom: 10px;

    &:hover {
      background: var(--bg-color);
    }

    button {
      background: var(--bg-color);
    }

    span {
      color: var(--text-color);

      &:hover {
        background: var(--bg-color);
      }
    }
  }
}

a {
  color: var(--link-color) !important;
  margin: 0 5px;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-bottom: 10px !important;
}
