.user {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  background: var(--bg-color);
  padding: 0 20px;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-sizing: border-box;

  .content {
    display: flex;
    align-items: center;
    width: 100%;
    transition: width 0.3s ease;
  }

  .id {
    margin-right: 10px;
  }

  .username {
    margin-right: auto;
  }

  .buttons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    background: var(--bg-color);
    transform: translateX(100%);
    transition: transform 0.3s ease;

    .actionButton {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: var(--primary-color);
      background: var(--bg-color);
      padding: 10px;
      cursor: pointer;
    }
  }

  &.shifted {
    .content {
      width: calc(100% - 90px); // Уменьшаем ширину контента
    }

    .buttons {
      transform: translateX(0); // Показываем кнопки
    }
  }
}
