.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: var(--bg-color);
  inset: auto 0 0 0;
  flex-shrink: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.navButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: var(--font-color);
  text-decoration: none;

  .icon {
    color: var(--hint-color);
    font-size: 24px;
  }

  .title {
    color: var(--hint-color);
    font-weight: 600;
  }

  &.active {
    .icon {
      color: var(--link-color);
    }

    .title {
      color: var(--link-color);
    }
  }
}
