.nav {
  position: fixed;
  inset: auto 0 0 0;
  height: 60px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--tg-theme-secondary-bg-color);
  border-radius: 10px 10px 0 0;

	-webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.navButton {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  svg {
    color: var(--tg-theme-hint-color);
  }

  &.active {
    svg {
      transition: color 0.4s ease;

      color: var(--tg-theme-link-color);
    }
  }
}
