.topButton {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: center;
	background: var(--tg-theme-secondary-bg-color);
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;

	.arrowIcon {
		color: var(--tg-theme-link-color);
	}
}


