.topButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;

  .arrowIcon {
    color: var(--primary-color) !important;
  }
}
