.topButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--tg-theme-secondary-bg-color);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;

  .arrowIcon {
    color: var(--tg-theme-link-color);
  }
}
