.filters {
  margin-bottom: 20px;

  .searchInput {
    margin-bottom: 20px;
  }

  .scrollFilersContainer {
		display: flex;
		overflow-x: auto;
    .roleSelect {
			min-width: 100px;
      max-width: 100px;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
    }
  }
}
