@import './fonts.scss';
@import './variables.scss';
@import './mantine.scss';

#root {
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--secondary-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--secondary-bg-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--hint-color);
    border-radius: 5px;
  }
}
