.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .testSub {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    border-radius: 10px;
    gap: 20px;
  }
}
