.home {
	display: flex;
	align-items: center;
	flex-direction: column;

	.empty {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-bottom: 30px;
	}

	.testSub {
		padding: 20px;
		display: flex;
		align-items: center;
		flex-direction: column;
		border-radius: 10px;
		gap: 20px;
		font-size: 14px;
	}
}